body {
  width: 1600px;
  height: 2349px;
}

.menu-links a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2%;
  color: #212121;
}

.menu-links a:hover,
.contact-links:hover {
  color: #2196f3;
}

.contact-links {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2%;
  color: #757575;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 31px;
  letter-spacing: 3%;
}

.logo-primary {
  color: #2196f3;
}

.logo-secondary {
  color: #000;
}

.logo-tertiary {
  color: #fff;
}

.main-header {
  display: block;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: black;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 696px;
  height: 120px;
  padding-top: 200px;
  padding-left: 452px;
}

.header-button {
  width: 200px;
  height: 50px;
  margin-left: 700px;
  margin-top: 30px;
  background-color: #2196f3;
  border-radius: 4px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  border-style: none;
  offset: 0px, 4px, rgba(0, 0, 0, 0.15);
}

.skills {
  list-style: none;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.skills li {
  width: 270px;
  height: 101px;
}

.skill-name {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
}

.skill-description {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: #757575;
}

.section-title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.activity-images,
.team-members {
  list-style: none;
}

.team {
  background-color: #f5f4fa;
}

figcaption .member-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #212121;
}

.member-job {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #757575;
}

.member-box {
  background-color: #fff;
  width: 270px;
  height: 368px;
}

footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

address {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #fff;
  line-height: 1.71;
}

footer a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

li button {
  background-color: #f5f4fa;
  color: #212121;
  height: 38px;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
  border-radius: 4px;
  border-style: none;
  offset: 0px, 4px, rgba(0, 0, 0, 0.15);
}

li button:hover {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}

.filter-buttons {
  list-style: none;
}

.item-list {
  list-style: none;
}

.item {
  width: 370px;
  height: 404px;
  background-color: #fff;
}

.item-name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  line-height: 2;
  text-align: left;
}

.item-type {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #757575;
  line-height: 1.875;
  text-align: left;
}
